<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<main>
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to the <%= title %> page</h1>
    <div class="intro">
    <h1>3D Design Projects (Roblox Studio)</h1>
</div>

<div class="row">
    <div class="column">
        <section class="proj_column_content">
            <div class = "showcase">
                <img src="/Assets/images/dynasty1.png" alt="A formation of ancient chinese soldier with flags made in Roblox Studio" height=300px>
                <h1>Ancient China </h1>
                <p class="project_description">
                This project originated from a roleplay and collaborative storytelling community with friends and other developers who participated in their spare time. 
                In this community, I played the role of a Han dynasty-esque empire which required me to model assets, write entire story arcs and research alot of history, pushing my skills in writing and modelling to the absolute limit.
                </p> 
              </div>
        </section>
    </div>
    <div class="column">
        <section class="proj_column_content">
            <div class = "showcase">
                <img src="/Assets/images/fighter_jet.png" alt="A futuristic military jet above the clouds made in Roblox Studio" height=300px>
                <h1>Military Aircraft </h1>
                <p>
                This project started mostly as a friendly competition between a group of developers and hobbyists for a Flight Simulator game.
                Each developer would try to outdo the other in terms of how "cool" of a jet they could make to be imported and added to the game. Though I always lost to those who exclusively used blender, I gained many skills in CSG modelling and visual mechanical design.
                </p>
            </div>
        </section>
    </div>
  </div>
</main>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>